:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --growth-from:0.7;
    --growth-to:1;
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5% ;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* modal */
.modal{
    
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 0;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0 , 0 , 0 , .3);
    
}

.modal__body {
    --growth-from:0.5;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear .2s;
}

/* Button */
.btn {
    min-width: 90px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    padding: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgba(0, 0, 0,  .07);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.5rem;
}

.btn.btn--disabled {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

