.header {
    height: var(--header-height);
    background-image:linear-gradient(0 , #ff6633, #f53d2d);
    margin-top: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;

}

.header__navbar-item {
    position: relative;
    padding: 0 8px;
    z-index: 1;
}

.header__navbar-item-left {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 8px;
    z-index: 1;
}

.header__navbar-item-left:last-child {
    border-right:none ;
}

.header__navbar-item,
.header__navbar-item-left,
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    position: relative;
    
}

.header__navbar-item:hover,
.header__navbar-item-left:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.header__navbar-item-qr:hover .navbar__qr{
    display: block;
}

.header__navbar-item--notification:hover .navbar__notification{
    display: block;
}

.header__navbar-item-language:hover .navbar__language{
    display: block;
}

.navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    
}

.navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.header__navbar-item-left:first-child{
    padding-left: 0;
}

.header__navbar-list .header__navbar-item-left:last-child .navbar-icon-link:hover{
    color: var(--white-color);
}

.navbar-icon {
    font-size: 1.8rem;
    margin: 0 8px;
}

.navbar-no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* header qr */
.navbar__qr{
    background: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
}

.navbar__qr::before{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    top:-12px;
}

.navbar__qr-img-qr{
    width: 100%;
}

.navbar__qr-app {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.navbar__qr-app-link {
    display: flex;
}

.navbar__qr-download {
    height: 16px;
    color: var(--white-color);
}

/* header notification */

.navbar__notification{
    position: absolute;
    top: 120%;
    width: 350px;
    background-color: var(--white-color);
    right: 8px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    transform-origin: calc(100% - 12%) top;
    animation: headerNotifyGrowth ease-out .25s;
    display: none;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 50%;
        transform: scale(0);
    }
    to {
        opacity: 100%;
        transform: scale(1);
    }
}

.navbar__notification::before{
    content: "";
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 20px;
    top:-30px;
}

.navbar__notification::after{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 25%;
    right:0;
    top:-12px;
}


.navbar__notification-header {
    height: 40px;
    background-color: var(--white-color);
}

.navbar__notification-header-title {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 0 0 12px;
    line-height: 40px;
    user-select: none;
    cursor:text;
}

.navbar__notification-list {
    padding-left: 0;
}

.navbar__notification-item {
    display: flex;
    
}

.navbar__notification-item:hover {
    background-color: rgba(0 , 0 , 0 , .05);
} 

.navbar__notification-item-viewed {
    background-color: rgba(238, 77, 45, .1);
}

.navbar__notification-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    color: var(--text-color);
}

.navbar__notification-img {
    width: 48px;
    object-fit: contain;
}

.navbar__notification-body {
    margin-left: 8px;
    flex: 1;
}

.navbar__notification-body-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14px;
}

.navbar__notification-body-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 12px;
    font-weight: 300;
    margin-top: 12px;
}
.navbar__notification-footer {
    display: flex;
}

.navbar__notification-footer-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin: auto;
    padding: 10px 10px;
}

.navbar__notification-footer:hover {
    background-color: rgba(0 , 0 , 0 , .05);
}

/* notification__no */
.notification__no {
    position: absolute;
    top: 120%;
    width: 350px;
    background-color: var(--white-color);
    right: 8px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    transform-origin: calc(100% - 12%) top;
    animation: headerNotifyGrowth ease-out .25s;
    display: none;
}

.header__navbar-item--notification-no:hover .notification__no{
    display: block;
}

.notification__no::before{
    content: "";
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 20px;
    top:-30px;
}

.notification__no::after{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 25%;
    right:0;
    top:-12px;
}

.notification__no-body {
    color: var(--text-color);
    text-align: center;
    margin-top: 50px 0 0 20px;
    font-weight: 300;
    cursor: text;
    user-select: none;
}



.notification__no-describe{
    font-weight: 300;
    font-size: 1.4rem;
}

.notification__no-img{
    width: 40%;
}

.notification__no-footer {
    height: 41px;
    display: flex;
}

.btn-notification {
    flex: 1;
    color: var(--text-color);
    align-items: flex-end;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    line-height: 41px;
    background-color: rgba(0 , 0 , 0 , .05);
}

.btn-notification:hover {
    background-color: var(--border-color);
    color: var(--primary-color);
}

/* navbar language */
.navbar__language {
    position: absolute;
    width: 220px;
    top:120%;
    right:20% ;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    transform-origin: calc(100% - 20%) top;
    animation: headerNotifyGrowth ease-out .25s;
}

.navbar__language::after{
    content: "";
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 20px;
    top:-28px;
}

.navbar__language::before{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    right:0;
    top:-12px;
}

.navbar__language-item {
    padding-left: 0;
    z-index: 1;
    position: relative;
}
.navbar__language--country {
    display: flex;
    height: 38px;
    align-items: center;
    padding-left: 20px;
    list-style: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.4rem;
    padding: auto;
}

.navbar__language--country:hover {
    background-color: rgba(0 , 0 , 0 , .05);
    color: var(--primary-color);
}

/* navbar-user-login */
.header__navbar-profie-img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

.header__navbar-profile-name {
    display: block;
    margin-left: 20px;
}

.header__navbar-profile-body {
    min-width: 160px;
    background-color: var(--white-color);
    position: absolute;
    top:120%;
    right: 0;
    border-radius: 2px;
    border: 1px solid rgba(0 , 0 , 0 , .1);
    animation: headerNotifyGrowth ease-out .25s;
    display: none;
}

.header__navbar-profile-body::before{
    content: "";
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 25px;
    top:-27px;
}

.header__navbar-profile-body::after{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 25%;
    right:0;
    top:-12px;
}

.header__navbar-profie:hover .header__navbar-profile-body {
    display: block;
}

.header__navbar-profile-info {
    padding-left: 0;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 400;
}

.header__navbar-profile-link {
    display: block;
    text-decoration: none;
    margin: 20px 10px;
    color: var(--text-color);
}

.header__navbar-profile-link:hover {
    color: aqua;
}

/* Auth-form */
.auth-form{
    width: 500px;
    background-color:var(--white-color);
    border-radius: 2px;
}

.auth-form__container {
    padding: 0 32px ;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 30px 0;
}

.auth-form__btn-switch {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 400;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}
.auth-form__input:focus {
    border-color:#888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: right;
}

.auth-form__controls-back {
    margin-right: 8px;
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 1.5rem;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 12px 33px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px ;
}

.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    flex: 1;
}

.auth-form__social--facebook {
    background-color: #3A5A89;
    color: var(--white-color);
    text-align: center;
    display: block;

}

.auth-form__social .auth-form__social--facebook:hover {
    background-color: #3A5A89;
}

.auth-form__social--icon {
    font-size: 2rem;
    margin-right: 20px;
}


.auth-form__social--google {
    margin-left: 10px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--white-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 15px;
}

.auth-form__help-forget-pass {
    color: var(--primary-color);
    padding-right: 15px;
    border-right: 1px solid var(--border-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    border: none;
    display: flex;
    align-items: center;
}
/* Header input */
.header__search-wrap-input {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 16px;
    font-weight: 300;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius:2px ;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history {
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    top: 110%;
    left: 0;
    box-shadow: 0 1px 5px #ccc;
    border-radius: 2px;
    display: none;
}

.header__search-history-content {
    padding-left: 0 ;
    list-style: none;
    margin: 0;
}

.header__search-history-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-link {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px 15px 10px 10px;

}

.header__search-history-item:hover {
    background-color:rgba(0 , 0 , 0 , .05);
}

/* Header cart */
.header__cart {
    width: 160px;
    display: flex;
    justify-content: center;
}

.heade__cart-item {
    color: var(--white-color);
    font-size: 3rem;
}

.header__search-select {
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
    border-left: 1px solid var(--border-color) ;
    padding: 0 16px 0 6px;
    user-select: none;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-select-icon {
    position: relative;
    top:1px;
    left: 8px;
}

.header__search-btn {
    height: 35px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    margin: 1px 4px 1px 0;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: rgba(238, 77, 45, .9);
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 0 20px;
}
/* Header search option */
.header__search-option {
    width: 100%;
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    right: 0;
    top: 110%;
    padding-left: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    display: none;
    animation: fadeIn ease-out .2s;
}

.header__search-option::after{
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 100%;
    height: 20px;
}

.header__search-item {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px 0 10px 10px;
}

.header__search-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-item:hover {
    background-color: var(--border-color);
    cursor: pointer;
    overflow: hidden;
}

.header__search-item-icon {
    color: var(--primary-color);
    padding-left: 5px;
}