.header {
    height: 12rem;
    background-image:linear-gradient(0 , #ff6633, #f53d2d);
    margin-top: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    padding: 0 8px;
}

.header__navbar-item-left {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 8px;
}

.header__navbar-item-left:last-child {
    border-right:none ;
}

.header__navbar-item,
.header__navbar-item-left,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    
}